<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="panel-admin"></ion-back-button>
    <ion-toolbar>
      <h3 class="h3azul">ITCA-App</h3>
      <img slot="end" class="img-logo ion-text-center" src="../../assets/img/logo.png" alt="" />
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="container-welcome">
    <h1>Bienvenido</h1>
    <p>Administrador</p>
  </ion-row>

  <ion-row class="container-title">
    <ion-col size="12">
      <p>Nueva Noticia</p>
    </ion-col>
    <ion-col size="12">
      <div class="container-icon" style="background-image: url({{notification.img}});">
        <ion-item lines="none">
          <ion-input type="file" accept="image/*" id="file-input" #fileInp (change)="fileChange($event)">
          </ion-input>
          <button class="btn-subir">
            <ion-icon name="arrow-up-outline"></ion-icon>
          </button>
        </ion-item>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="container-card">
    <ion-card class="blue">
      <ion-card-content class="form">
        <p>Nombre</p>
        <ion-item lines="none">
          <ion-input type="text" [(ngModel)]="notification.name"></ion-input>
        </ion-item>
        <p>Descripción</p>
        <ion-item lines="none">
          <ion-textarea [(ngModel)]="notification.description"></ion-textarea>
        </ion-item>

        <p>Enlace</p>
        <ion-item lines="none">
          <ion-input type="text" [(ngModel)]="notification.hyper"></ion-input>
        </ion-item>
        
        <ion-item lines="none" class="categories">
          <ion-select placeholder="Orden" [(ngModel)]="notification.order">
            <div *ngFor="let order of Orders; let i = index">
              <ion-select-option value="{{order.value}}">{{order.value}}</ion-select-option>
            </div>
          </ion-select>
        </ion-item>

        <ion-item lines="none" class="categories">
          <ion-select placeholder="Categoría" [(ngModel)]="notification.category">
            <div *ngFor="let category  of Categories; let i = index">
              <ion-select-option value="{{category.name}}">{{category.name}}</ion-select-option>
            </div>
          </ion-select>
        </ion-item>

        <ion-item lines="none" class="categories">
          <ion-select placeholder="Prioridad en Panel" [(ngModel)]="notification.priority">
            <div *ngFor="let priority of Priorities; let i = index">
              <ion-select-option value="{{priority.name}}">{{priority.name}}</ion-select-option>
            </div>
          </ion-select>
        </ion-item>

        <ion-item lines="none" class="categories">
          <ion-select placeholder="Estado" [(ngModel)]="notification.state">
            <ion-select-option value="public">Público</ion-select-option>
            <ion-select-option value="hide">Oculto</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card-content>

    </ion-card>
  </ion-row>
  <ion-row class="container-btn margindown">
    <ion-button (click)="addNotification()">
      Registrar
    </ion-button>
  </ion-row>


</ion-content>