<ion-header>
  <ion-toolbar>
    <ion-icon name="close-circle-outline" (click)="closeModal()" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-radio-group [(ngModel)]="icon">
      <ion-item>
        <ion-icon name="cash-outline"></ion-icon>
        <ion-radio slot="start" value="cash-outline"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-icon name="briefcase-outline"></ion-icon>
        <ion-radio slot="start" value="briefcase-outline"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-icon name="document-text-outline"></ion-icon>
        <ion-radio slot="start" value="document-text-outline"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-icon name="pencil-outline"></ion-icon>
        <ion-radio slot="start" value="pencil-outline"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-icon name="glasses-outline"></ion-icon>
        <ion-radio slot="start" value="glasses-outline"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-icon name="information-outline"></ion-icon>
        <ion-radio slot="start" value="information-outline"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-icon name="card-outline"></ion-icon>
        <ion-radio slot="start" value="card-outline"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-icon name="desktop-outline"></ion-icon>
        <ion-radio slot="start" value="desktop-outline"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-icon name="documents-outline"></ion-icon>
        <ion-radio slot="start" value="documents-outline"></ion-radio>
      </ion-item>
    </ion-radio-group>

  <ion-row class="container-btn">
    <ion-button (click)="sendData()" >
      Guardar
    </ion-button>
  </ion-row>
</ion-content>
