ion-toolbar{
    --padding-start:25px;
    --padding-end:25px;
    ion-icon{
        font-size: 25px
    }
}

/* Estilos del contenedor del boton para agregar imagen */
.container-btn{
    display: flex;
    justify-content: center;
    ion-button{
        height: 60px;
        width:80%;
        --background:#DDF2FB;
        --background-activated:#DDF2FB;
        --border-radius: 15px;
        --box-shadow:0px 4px 20px rgba(255, 255, 255, 0.25);
        font-size: 18px;
        font-weight: bold;
        color:black;
    }
}