<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="panel-admin"></ion-back-button>
    <ion-toolbar>
      <h3 class="h3azul">ITCA-App</h3>
      <img slot="end" class="img-logo ion-text-center" src="../../assets/img/logo.png" alt="" />
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-row class="container-welcome">
    <h1>Bienvenido</h1>
    <p>Administrador</p>
  </ion-row>
  <ion-row class="container-title">
    <ion-col size="12">
      <p>Administrar Noticias</p>
    </ion-col>
  </ion-row>

  <ion-row class="banner margindown" *ngFor="let data of notifications; let i = index" >
    <ion-card class="card-banner" style="  background-image: url('{{data.img}}');">
      <ion-card-header>
        <div class="container-name">
          <ion-icon name="person-circle"></ion-icon>
          <p>Administrador</p>
        </div>      
        <div>
          <ion-icon class="pencil" name="pencil-outline" (click)="update(data)"></ion-icon>
          <ion-icon class="pencil" (click)="delete(data.uid)" name="close-outline"></ion-icon>
        </div>
      </ion-card-header>
      <ion-card-content >
        <ion-row>
          <ion-col size="8">
            <h1>{{data.name}}</h1>
            <p>{{reduceNotificationDescription(data.description)}}</p>
          <p><ion-icon name="time-outline"></ion-icon>  {{tiempo(data.updateDate)}}</p>
          </ion-col>
          <ion-col size="4" class="container-time">
          </ion-col>  
        </ion-row>      
      </ion-card-content>
    </ion-card>
  </ion-row>
 



</ion-content>
