//fondo de la imagen del container
.container{
    height: 100%;
    background-image: url("..//../assets/img/background2.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
.h3azul{
      color:#014898;
  }
/* Estilos del header  */
ion-toolbar{
    --padding-start:6%;
    --padding-end:6%;
    --padding-top:6%;
    margin-bottom: 6%;

    .img-logo{
        width:51px;
        height: 51px;
    }
    .container-img-header{
        display: flex;
        justify-content: center;
        width:89%;
    }
}

/* Estilos del mensaje de bienvenido */
.container-welcome{
    flex-direction: column;
    padding: 0px 6%;
    p{
        margin: 0px;
        font-size: 20px;
        font-weight: 500;
    }
    h1{
        font-weight: 700;
        font-size: 33px;
    }
}

/* Estilos del titulo de la pagina */
.container-title{
    padding: 0px 6%;
    margin-top: 10%;
    p{
        font-weight: bold;
        font-size: 17px;
    }
}

/* Estilos de l banner  */
.banner{
    padding: 0px 5%;
    margin-top: 2%;
    

    .card-banner{
        width: 100%;
        height: 210px;
        border-radius: 21px;
        margin: 10px;
        background-repeat: no-repeat;
        background-size: cover;
        color:white;
        position:relative;
        z-index:1;
        ion-card-header{
            color:white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .container-name{
                display: flex;
                align-items: center;
                p{
                    margin: 0px;
                }
                ion-icon{
                    color: rgba(0,0,0,1);
                    font-size: 30px;
                }
              
            }

            .pencil{
                font-size: 20px;
                margin-left: 10px;
            }
        }
    
        ion-card-content{
            margin-top: 5%;
        }
    }

    .card-banner::after{
        content:'';
        position: absolute;
        background:rgba(0,0,0,0.5);
        width:100%;
        height:100%;
        top:0px;
        right: 0px;
        left: 0px;
        bottom: 0px;
        z-index:-1;
    }
}

.container-time{
    display: flex;
    align-items: center;
    justify-content: space-around;
    p{

        margin: 0px;
    }
}

