<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="panel-admin"></ion-back-button>
    <ion-toolbar>
      <h3 class="h3azul">ITCA-App</h3>
      <img slot="end" class="img-logo ion-text-center" src="../../assets/img/logo.png" alt="" />
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="container-welcome">
    <h1>Gestor de Información de Contacto</h1>
  </ion-row>
  <ion-row class="container-title">
    <ion-col size="12">
      <p>Añadir Contactos</p>
    </ion-col>
    <ion-col size="12">
      <div class="container-icon" (click)="openModal()">
        <div class="circle" *ngIf="contact.icon === ''">
          <img src="../../assets/img/add-notification.png" alt="">
        </div>
        <div class="circle" *ngIf="contact.icon !== ''">
          <ion-icon slot="start" name="{{contact.icon}}"></ion-icon>
        </div>
        <p>Agregar ícono</p>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="container-card">
    <ion-card>
      <ion-card-content class="form">
        <p>Categoría</p>
        <ion-item lines="none">
          <ion-input type="text" [(ngModel)]="contact.categoria" ></ion-input>
        </ion-item>
        <p>Hipervínculo</p>
        <ion-item lines="none">
          <ion-input type="text" [(ngModel)]="contact.hiper"></ion-input>
        </ion-item>
        <p>Estado</p>
        <ion-item lines="none">
          <ion-select [(ngModel)]="contact.state">
            <ion-select-option value="public">Público</ion-select-option>
            <ion-select-option value="hide">Oculto</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-row>
  <ion-row class="container-btn">
    <ion-button (click)="Addcontact()" >
      Registrar
    </ion-button>
  </ion-row>

  <ion-row class="container-title">
    <ion-col size="12">
      <p>Administrar Contactos</p>
    </ion-col>
  </ion-row>
  <ion-row class="container-card margindown" *ngFor="let data of contacts; let i = index">
    <ion-card style="margin-top: 20px;">
      <ion-card-content class="form">
        <p>Categoría</p>
        <ion-item lines="none">
          {{data.categoria}}
        </ion-item>
        <p>Hipervínculo</p>
        <ion-item lines="none" (click)="ventana(data.hiper)">
            <p>Click para abrir hipervínculo</p>
        </ion-item>
    
        <p>Ícono</p>
        <div class="container-query-icon">
          <ion-icon slot="start" name="{{data.icon}}"></ion-icon>
        </div>  
        <p>Estado</p>
        <ion-item lines="none">
          {{data.state}}
        </ion-item>
        <p>Acción</p>
        <ion-row class="container-options">
          <ion-col size="6">
            <ion-item (click)="delete( data.id)">
              <ion-label  class="icon">
                <ion-icon name="trash-outline" ></ion-icon>
              </ion-label>
            </ion-item>
          </ion-col>

          <ion-col size="6">
            <ion-item (click)="update( data.id,data.categoria,data.hiper,data.icon,data.state)">
              <ion-label class="icon">
                <ion-icon name="pencil-outline" ></ion-icon>
              </ion-label>
            </ion-item> 

          </ion-col>
      
       

        </ion-row>
       
      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-content>
