ion-toolbar{
    --padding-start:25px;
    --padding-end:25px;
    ion-icon{
        font-size: 25px
    }
}

/* Estilos del contenedor del boton para agregar imagen */
.container-btn{
    display: flex;
    justify-content: center;
    ion-button{
        height: 60px;
        width:80%;
        --background:#111111;
        --background-activated:#111111;
        --border-radius: 15px;
        --box-shadow:0px 4px 20px rgba(255, 255, 255, 0.25);
        font-size: 18px;
        font-weight: bold;
        color:white;
    }
}

.search-button{
    padding-top: 0px;
    padding-bottom: 0px;
}

.icon-number{
    font-size: 11px;
    display: block;
    text-align: center;
    margin-bottom: 10px;
    color: #b1bbb3;
}

.icon-color-awesome{
    color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.54);
    stroke: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.54);
}

/* Estilo del boton de registrarse */
.btn {
    --background: #111111;
    --box-shadow: 0px 3px 3px rgba($color:#000000, $alpha: 0.3);
    --border-radiuss: 10px;
    width: 100%;
}