<ion-header>
  <ion-toolbar>
    <ion-icon name="close-circle-outline"
      (click)="closeModal()"
      slot="end"></ion-icon>
    <ion-searchbar (ionChange)="searchIcons($event)"
      placeholder="Buscar ícono"
      mode="ios"
      color="light"
      class="search-button"
      debounce="500"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="loadingIcons">
    <ion-item *ngFor="let i of skeletonNumber">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <p>
          <ion-skeleton-text animated
            style="width: 100%; height: 32px;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom"
    horizontal="end"
    slot="fixed">
    <ion-button (click)="sendData()"
      shape="round"
      class="btn">
      Siguiente
      <ion-icon slot="end"
        name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </ion-fab>
  <ion-radio-group [(ngModel)]="selectedIcon"
    *ngIf="!loadingIcons"
    (ionChange)="handleSelectedIcon($event)">
    <ion-item *ngFor="let item of awesome">
      <fa-icon icon="{{item.iconName}}"
        size="lg"
        [fixedWidth]="true"
        pull="right"
        class="icon-color-awesome"></fa-icon>
      <ion-radio slot="start"
        value="{{item.iconName}}"></ion-radio>
    </ion-item>
  </ion-radio-group>

</ion-content>