<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon (click)="quit()"  name="arrow-back-outline" slot=start></ion-icon>
    <ion-row class="container-img-header">
      <img class="img-logo" src="../../assets/img/logo.png" alt="" />
    </ion-row>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-row class="container-title">
    <ion-col size="12">
      <p>Contactos</p>
    </ion-col>
    <ion-col size="12">
      <div class="container-icon" (click)="openModal()">
    
        <div class="circle" >
          <ion-icon slot="start" name="{{icon}}"></ion-icon>
        </div> 
        <p>Agregar ícono</p>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="container-card">
    <ion-card >
      <ion-card-content>
        <p class="form">Categoría</p>
        <ion-item lines="none">
          <ion-input type="text" [(ngModel)]="categoria" ></ion-input>
        </ion-item>
        <p class="form">Hipervínculo</p>
        <ion-item lines="none">
          <ion-input type="text" [(ngModel)]="hiper" ></ion-input>
        </ion-item>       
        <p class="form">Estado</p>
        <ion-item lines="none">
          <ion-select [(ngModel)]="state">
            <ion-select-option value="public">Público</ion-select-option>
            <ion-select-option value="hide">Oculto</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-row>
  <ion-row class="container-btn margindown">
    <ion-button (click)="update()" >
      Actualizar
    </ion-button>
  </ion-row>

</ion-content>
