<ion-content>
  <div class="header">
    <ion-row class="logo-container">
      <img class="img-signIn" src="../../assets/img/logonuevo.png" />
    </ion-row>

    <ion-segment [(ngModel)]="selectedAction" (click)="selectedActionChange($event)">
      <ion-segment-button value="login">
        <ion-label>Iniciar sesión</ion-label>
      </ion-segment-button>
      <ion-segment-button value="register">
        <ion-label>Regístrate</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div class="container ion-text-center">
    <div class="container-inputs">
      <ion-label class="label ion-text-uppercase">Correo Electrónico</ion-label>
      <ion-item [ngClass]="{'ion-item-error': errors.email}">
        <ion-input name="user" type="email" [(ngModel)]="user.email"></ion-input>
      </ion-item>
      <div class="input-error ion-margin-top" *ngIf="errors.email">
        <span><ion-icon name="alert-circle-outline"></ion-icon> {{errors.email}}</span>
      </div>
    </div>
    <div class="container-inputs">
      <ion-label class="label ion-text-uppercase">Contraseña</ion-label>
      <ion-item [ngClass]="{'ion-item-error': errors.password}">
        <ion-input [type]="passwordType" name="password" [(ngModel)]="user.password"></ion-input>
        <ion-icon [name]="eyeTypeIcon" item-right (click)="showHiddePassword()"></ion-icon>
      </ion-item>
      <div class="input-error ion-margin-top" *ngIf="errors.password">
        <span><ion-icon name="alert-circle-outline"></ion-icon> {{errors.password}}</span>
      </div>
    </div>
    <div class="container-inputs">
      <ion-router-link routerLink="/reset-password">Olvidaste tu contraseña</ion-router-link>
    </div>
      <button class="my_buttton" (click)="loginUser()">Iniciar Sesión</button>
  </div>
</ion-content>
