/* Estilo del icono para salir del modal */
ion-toolbar{
    ion-icon{
        font-size: 25px;
    }
}


/* Contenedor del boton */
.container-btn{
    margin-top: 10%;
}
/* Estilo del boton de registrarse */
.btn {
    --background: #4ac96a;
    --box-shadow: 0px 3px 3px rgba($color:#4ac96a, $alpha: 0.3);
    --border-radiuss: 10px;
    width: 100%;
}