<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="panel-admin"></ion-back-button>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" style="color: white;" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="ion-text-center align-items-center">
    <ion-col size="12">
      <ion-text>
        <h1>Editar Carrera</h1>
      </ion-text>
    </ion-col>

    <ion-col size="12">
      <ion-item>
        <ion-input placeholder="Nombre" [(ngModel)]="this.career.name" required></ion-input>
      </ion-item>
      <div class="input-error ion-margin-top" *ngIf="errors.name">
        <span>
          <ion-icon name="alert-circle-outline"></ion-icon> {{errors.name}}
        </span>
      </div>
    </ion-col>

    <ion-col size="12">
      <ion-item>
        <ion-input placeholder="Descripción" [(ngModel)]="this.career.description"></ion-input>
      </ion-item>
      <div class="input-error ion-margin-top" *ngIf="errors.description">
        <span>
          <ion-icon name="alert-circle-outline"></ion-icon> {{errors.description}}
        </span>
      </div>
    </ion-col>

    <ion-col size="12">
      <ion-label>Niveles</ion-label>
      <ion-item>
        <ion-checkbox color="light" [(ngModel)]="this.career.levels[0].isActivate" slot="start"> </ion-checkbox>
        <label>Primer Periódo</label>
      </ion-item>
      <ion-item>
        <ion-checkbox color="light" [(ngModel)]="this.career.levels[1].isActivate" slot="start"> </ion-checkbox>
        <label>Segundo Periódo</label>
      </ion-item>
      <ion-item>
        <ion-checkbox color="light" [(ngModel)]="this.career.levels[2].isActivate" slot="start"> </ion-checkbox>
        <label>Tercero Periódo</label>
      </ion-item>
      <ion-item>
        <ion-checkbox color="light" [(ngModel)]="this.career.levels[3].isActivate" slot="start"> </ion-checkbox>
        <label>Cuarto Periódo</label>
      </ion-item>
      <ion-item>
        <ion-checkbox color="light" [(ngModel)]="this.career.levels[4].isActivate" slot="start"> </ion-checkbox>
        <label>Quinto Periódo</label>
      </ion-item>
      <ion-item>
        <ion-checkbox color="light" [(ngModel)]="this.career.levels[5].isActivate" slot="start"> </ion-checkbox>
        <label>Sexto Periódo</label>
      </ion-item>
      <div class="input-error ion-margin-top" *ngIf="errors.levels">
        <span>
          <ion-icon name="alert-circle-outline"></ion-icon> {{errors.levels}}
        </span>
      </div>
    </ion-col>
    <ion-col size="12">
      <ion-label>Paralelos</ion-label>
      <ion-item>
        <ion-checkbox color="light" [(ngModel)]="this.career.parallel[0].isActivate" slot="start"> </ion-checkbox>
        <label>Paralelo A</label>
      </ion-item>
      <ion-item>
        <ion-checkbox color="light" [(ngModel)]="this.career.parallel[1].isActivate" slot="start"> </ion-checkbox>
        <label>Paralelo B</label>
      </ion-item>
      <ion-item>
        <ion-checkbox color="light" [(ngModel)]="this.career.parallel[2].isActivate" slot="start"> </ion-checkbox>
        <label>Paralelo C</label>
      </ion-item>
      <ion-item>
        <ion-checkbox color="light" [(ngModel)]="this.career.parallel[3].isActivate" slot="start"> </ion-checkbox>
        <label>Paralelo D</label>
      </ion-item>
      <ion-item>
        <ion-checkbox color="light" [(ngModel)]="this.career.parallel[4].isActivate" slot="start"> </ion-checkbox>
        <label>Paralelo E</label>
      </ion-item>
      <ion-item>
        <ion-checkbox color="light" [(ngModel)]="this.career.parallel[5].isActivate" slot="start"> </ion-checkbox>
        <label>Paralelo F</label>
      </ion-item>
      <div class="input-error ion-margin-top" *ngIf="errors.parallel">
        <span>
          <ion-icon name="alert-circle-outline"></ion-icon> {{errors.parallel}}
        </span>
      </div>
    </ion-col>
    <div class="input-error ion-margin-top" *ngIf="errors.levels">
      <span>
        <ion-icon name="alert-circle-outline"></ion-icon> {{errors.levels}}
      </span>
    </div>

    <ion-col size="12">
      <ion-item>
        <ion-select value="{{this.career.tittleType}}" [(ngModel)]="this.career.tittleType" okText="Aceptar"
          cancelText="Cancelar" required>
          <ion-select-option value="Técnico">Técnico</ion-select-option>
          <ion-select-option value="Técnologo">Tecnólogo</ion-select-option>
          <ion-select-option value="Otros">Otros</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="input-error ion-margin-top" *ngIf="errors.tittleType">
        <span>
          <ion-icon name="alert-circle-outline"></ion-icon> {{errors.tittleType}}
        </span>
      </div>
    </ion-col>

    <ion-col size="12">
      <ion-item>
        <ion-select placeholder="Estado de Publicación" value="{{this.career.isActivate}}"
          [(ngModel)]="this.career.isActivate" okText="Aceptar" cancelText="Cancelar" required>
          <ion-select-option value="Habilitado">Habilitado</ion-select-option>
          <ion-select-option value="Deshabilitado">Deshabilitado</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="input-error ion-margin-top" *ngIf="errors.isActivate">
        <span>
          <ion-icon name="alert-circle-outline"></ion-icon> {{errors.isActivate}}
        </span>
      </div>
    </ion-col>



    <ion-col size="10" offset="1">
      <ion-button class="btn" expand="block" (click)="UpdateCareer()">Actualizar datos de Carrera</ion-button>
    </ion-col>

  </ion-row>


</ion-content>
