<ion-header class="ion-no-border">
  <ion-toolbar>
    <h3 class="h3azul ion-text-center">ITCA-App</h3>
    <img slot="end" class="img-logo ion-text-center" src="../../assets/img/logo.png" alt="" />
    <ion-menu-button slot="start" menu="administrador"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-row class="container-welcome">
      <h1>Bienvenido</h1>
      <p>Noticias acerca del ITCA</p>
    </ion-row>
    <ion-row class="banner">
      <ion-col size="12">
        <ion-slides [options]="bannerConfig">
          <ion-slide *ngFor="let item of lastFivenotification" routerLink="/notice/{{item.id}}">

            <ion-card class="card-banner" style="background-image:url('{{item.img}}');">
              <ion-card-header routerLink="/notice/{{item.id}}">
                <div class="container-name">
                  <ion-icon name="person-circle" class="mr"></ion-icon>
                  <p>ITCA-App</p>
                </div>
                <div class="time">
                  <ion-icon name="time-outline" class="mr"></ion-icon>
                  <p>{{item.updateDate}}</p>
                </div>
              </ion-card-header>
              <ion-card-content>
                <h1>{{item.name}}</h1>
                <p>{{substr(item.description)}}...</p>
              </ion-card-content>
            </ion-card>

          </ion-slide>
        </ion-slides>
      </ion-col>

    </ion-row>

    <ion-row class="container-title">
      <ion-col size="12">
        <p>Servicios en Línea</p>
      </ion-col>

      <ion-col size="12">
        <ion-slides [options]="categoryConfig">
          <ion-slide class="slide-themes" *ngFor="let category of Categories; let i = index">
            <ion-col>
              <ion-card (click)="newsQuery(category.name)">
                <ion-card-header (click)="newsQuery(category.name)">
                  <div class="circle">
                    <img src="../../assets/img/notice.png" alt="" />
                  </div>

                </ion-card-header>
                <ion-card-content (click)="newsQuery(category.name)">
                  <p>{{ category.name }}</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-slide>
        </ion-slides>
      </ion-col>


      <ion-row>
        <ion-col size="12">
          <p>Más información sobre {{title}}</p>
        </ion-col>
      </ion-row>
 
      <ion-col size="12" [ngSwitch]="type" class="notice">

        <ion-item *ngFor="let notifica of notification;">
          <ion-col size="5" class="container-img-card">
            <div routerLink="/notice/{{notifica.id}}" class="img-card" style="background-image: url({{notifica.img}});">
            </div>
          </ion-col>
          <ion-col size="7" routerLink="/notice/{{notifica.id}}">
            <div class="user">
              <div>
                <ion-icon name="person-circle" class="mr"></ion-icon>
                <p>ITCA-App</p>
              </div>
              <!-- <ion-icon name="bookmark-outline"></ion-icon> -->
            </div>

            <div class="title">
              <p>{{notifica.name}}</p>
            </div>
            <div class="time">
              <ion-icon name="time-outline" class="mr"></ion-icon>
              <p>{{notifica.updateDate}}</p>
            </div>
          </ion-col>
        </ion-item>








      </ion-col>
    </ion-row>
  </div>
</ion-content>