//fondo de la imagen del container
.container{
    height: 100%;
    background-image: url("..//../assets/img/background2.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
.h3azul{
      color:#014898;
  }

/* Estilos del header  */
ion-toolbar{
    --padding-start:6%;
    --padding-end:6%;
    --padding-top:6%;
    margin-bottom: 6%;

    .img-logo{
        width:40px;
        height: 40px;
    }
    .container-img-header{
        display: flex;
        justify-content: center;
        width:89%;
    }
}

/* Estilos del mensaje de bienvenido */
.container-welcome{
    flex-direction: column;
    padding: 0px 6%;
    p{
        margin: 0px;
        font-size: 20px;
        font-weight: 500;
    }
    h1{
        font-weight: 700;
        font-size: 33px;
    }
}

/* Estilos del banner  */
.banner{
    padding: 0px 1%;
    margin-top: 2%;
    position:relative;
    z-index:1;
    ion-col{

        .card-banner{
            width: 100%;
            height: 210px;
            border-radius: 21px;
            background-repeat: no-repeat;
            background-size: cover;
            position:relative;
            z-index:1;
            ion-card-header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .container-name{
                    display: flex;
                    align-items: center;
                    p{
                        margin: 0px;
                    }
                    ion-icon{
                        color: rgba(0,0,0,1);
                        font-size: 30px;
                    }
                }
            }
        
            ion-card-content{
                margin-top: 5%;
                text-align: left;
                padding-left: 5%;
                h1{
                    color:#FCFCFC;
                }
                p{
                    color:#FCFCFC;
                }
            }
        }

        .card-banner::before{
            content:'';
            position: absolute;
            background:rgba(0,0,0,0.6);
            right: 0px;
            top:0px;
            left:0px;
            width:100%;
            height:100%;
            z-index:-1;
        }

    }

    
}


/* Estilos del titulo de la pagina */
.container-title{
    padding: 0px 6%;
    margin-top: 2%;
    p{
        font-weight: bold;
        font-size: 17px;
    }
}

/* Estilos del usuario de la noticia */
.user{
    display: flex;
    justify-content: space-between;
    ion-icon{
        font-size: 25px ;
    }
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        p{
            margin: 0px;
            font-weight: normal;
        }
    }
}

/* Estilos del tiempo de la noticia */
.time{
    display: flex;
    align-items: center;
    p{
        margin: 0px;
        color:#989AA6 ;
        font-weight: normal;
    }
    ion-icon{
        color:#989AA6 ;
        font-size: 25px;
    }
}

/* Estilos del ion-item para que cada noticia quede separada */
ion-item{
    margin-bottom: 8%;
    width: 100%;
}
  
/* Estilos de las tarjetas de los temas */
.slide-themes {
    
      padding: 0px;
      
      ion-card {
        width: 95%;
        margin: 0px;
        height: 160px;
        --background: rgba(15, 101, 122, 0.2);
        border-radius: 15px;
        box-shadow: none;
        ion-card-header{
            display: flex;
            justify-content: center;

            .circle{
                width: 51px;
                height: 51px;
                background: white;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
          

        }

        ion-card-content{
            padding: 0px;
            color:black;
        }

        .amount{
            font-style: normal;
            font-size: 14px;
        }
      }
    
  }

  /* Estilo para separar las noticas del switch */
  .notice{
      margin-top: 2%;
  }

  /* Estilos para separar el componenet segment de los temas */
  .segment{
    margin-top: 4%;
    display: flex;
    justify-content: center;
    border: 3px solid rgba(0,0,0,0.2);
    color: rgba(0,0,0,0.9);
    border-radius: 10px;
    width: 100%;
    p{
        margin: 3px;
        font-weight: 500;
        font-size: 18px;
    }
  }

  /* Estilos de la imagen de cada noticia */
  .container-img-card{
      display: flex;
      justify-content: center;
    .img-card{
        width: 100px;
        height: 100px;
        border-radius: 15px;
         background-repeat: no-repeat;
        background-size: cover;
       
    }

  }
 

  /* Estilos del icono de de cada tema */
  .img-notice{
    width: 20px;
    height: 20px;
    border-radius: 100%;
  }

 