<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="panel-admin"></ion-back-button>
    <ion-toolbar>
      <h3 class="h3azul">TCA-App</h3>
      <img slot="end" class="img-logo ion-text-center" src="../../assets/img/logo.png" alt="" />
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-row class="container-welcome">
    <h1>Bienvenido</h1>
    <p>Administrador</p>
  </ion-row>
  <ion-row class="container-title">
    <ion-col size="12">
      <p>Crear Categorías</p>
    </ion-col>
    <!--     <ion-col size="12">
      <div class="container-icon">
        <div class="circle">
          <img src="../../assets/img/add-notification.png" alt="">
        </div>
        <p>Agregar icono</p>
      </div>
    </ion-col> -->
  </ion-row>

  <ion-row class="container-card">
    <ion-card>
      <ion-card-content class="form">
        <p>Nombre</p>
        <ion-item lines="none">
          <ion-input type="text" [(ngModel)]="Category.name"></ion-input>
        </ion-item>
        <p>Descripción</p>
        <ion-item lines="none">
          <ion-textarea [(ngModel)]="Category.description"></ion-textarea>
        </ion-item>
        <p>Orden</p>
        <ion-item lines="none" class="categories">
          <ion-select placeholder="Orden" [(ngModel)]="Category.order">
            <div *ngFor="let order of Orders; let i = index">
              <ion-select-option value="{{order.value}}">{{order.value}}</ion-select-option>
            </div>
          </ion-select>
        </ion-item>
        <p>Estado</p>
        <ion-item lines="none">
          <ion-select [(ngModel)]="Category.state">
            <ion-select-option value="public">Público</ion-select-option>
            <ion-select-option value="hide">Oculto</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card-content>

    </ion-card>
  </ion-row>
  <ion-row class="container-btn ">
    <ion-button (click)="AddCategory()" >
      Registrar
    </ion-button>
  </ion-row>


  <ion-row class="container-title">
    <ion-col size="12">
      <p>Administrar Categorías</p>
    </ion-col>
  </ion-row>

  <ion-row class="container-card margindown" *ngFor="let category of Categories; let i = index" style="margin-top: 20px;">
    <ion-card>
      <ion-card-content class="form">
        <p>Nombre</p>
        <ion-item lines="none">
          {{category.name}}
        </ion-item>
        <p>Descripción</p>
        <ion-item lines="none">
          {{category.description}}
        </ion-item>
        <p>Estado</p>
        <ion-item lines="none">
          {{category.state}}
        </ion-item>
        <p>Acción</p>
        <ion-row>
          <ion-col size="6">
            <ion-item lines="none" (click)="delete( category.id)">
              <ion-label class="icon">
                <ion-icon name="trash-outline" ></ion-icon>
              </ion-label>
            </ion-item>
          </ion-col>

          <ion-col size="6">
            <ion-item lines="none" (click)="update( category.id,category.name,category.description,category.state)">
              <ion-label class="icon">
                <ion-icon name="pencil-outline" ></ion-icon>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card-content>

    </ion-card>
  </ion-row>
</ion-content>
