<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="panel-admin"></ion-back-button>
    <ion-toolbar>
      <h3 class="h3azul">ITCA-App</h3>
      <img slot="end" class="img-logo ion-text-center" src="../../assets/img/logo.png" alt="" />
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="container-user">

      <div>
        <ion-icon name="person-circle" class="mr"></ion-icon>
        <p>ITCA-App</p>
      </div>
      <div>
        <ion-icon name="time-outline" class="mr"></ion-icon>
        <p>{{notification.updateDate}}</p>


      </div>
         
 <!--    <p>Hace 3 minutos</p> -->
  </ion-row>

  <ion-row class="container-info">
    <ion-col size="12" class="container-img">
      <div class="img" style="background-image: url({{notification.img}});">

      </div>
     
    </ion-col>
    <ion-col size="12">
      <h1>{{notification.name }}</h1>
      <p class="parrafo">
     {{notification.description}}
      </p>
      <ion-label color="primary" (click)="ventana(notification.hyper)">Ir a {{notification.name}}</ion-label>
    </ion-col>
    
  </ion-row>
</ion-content>
<!-- 
<ion-footer class="ion-no-border">
  <ion-toolbar>
   <ion-row>
     <div class="circle">
        <img src="../../assets/img/wpp.png" alt="">
     </div>
     <ion-button >
       Vinculo
     </ion-button>
     <ion-button >
      Hiperenlace
    </ion-button>
   </ion-row>
  </ion-toolbar>
</ion-footer> -->
