
//fondo de la imagen del container
.container{
    height: 100%;
    background-image: url("..//../assets/img/background2.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
.h3azul{
      color:#014898;
  }
/* Estilos del header  */
ion-toolbar{
    --padding-start:6%;
    --padding-end:6%;
    --padding-top:6%;
    margin-bottom: 6%;

    .img-logo{
        width:51px;
        height: 51px;
    }
    .container-img-header{
        display: flex;
        justify-content: center;
        width:89%;
    }
}
/* Estilos del mensaje de bienvenido */
.container-welcome{
    flex-direction: column;
    padding: 0px 6%;
    p{
        margin: 0px;
        font-size: 20px;
        font-weight: 500;
    }
    h1{
        font-weight: 700;
        font-size: 33px;
    }
}


.container-user{
    display: flex;
    justify-content: space-between;
    padding: 6%;
    div{
        display: flex;
        align-items: center;
        ion-icon{
            font-size: 25px;
        }
    }
}

.container-info{
    padding: 0px 6%;
    h1{
        font-weight: bold;
        font-size: 24px;
    }
}

.container-img{
    display: flex;
    justify-content: center;
    .img{
        width: 100%;
        height: 250px;
        border-radius: 30px;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

ion-toolbar{
    ion-row{
        justify-content: space-around;
        .circle{
            width: 51px;
            height: 51px;
            background: #E8F8E5;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        ion-button{
            --background:#014C9A;
            --background-activated:#014C9A;
            --border-radius:30px;
        }
    }
}

