<ion-app>
  <ion-menu type="overlay" side="start" autoHide="true"  menuId="administrador" content-id="main">
    <div class="container-menu">
      <ion-icon (click)="toggleMenu()" class="icon" name="menu-outline"></ion-icon>
    </div>
      <div class="container">
        <ion-item routerLink="/main" (click)="toggleMenu()" lines="none">
          <img src="../assets/img/inicio.png" alt="" slot="start">
          <ion-label>Inicio</ion-label>
        </ion-item>
        <ion-item   lines="none"   onclick="window.open('http://demo.tecnologicoitca.edu.ec/sis/', '_system')">
          <img src="../assets/img/ofertaacademica.png" alt="" slot="start">
          <ion-label>Oferta Académica</ion-label>
        </ion-item>
        <ion-item routerLink="/contactus" (click)="toggleMenu()" lines="none" >
          <img src="../assets/img/finger.png" alt="" slot="start">
          <ion-label>Contáctanos</ion-label>
        </ion-item>
        <ion-item   lines="none"   onclick="window.open('http://demo.tecnologicoitca.edu.ec/u_event_cat/carreras/', '_system')">
          <img src="../assets/img/cross.png" alt="" slot="start">
          <ion-label>Sistema Integral de Salud</ion-label>
        </ion-item>
        <ion-item *ngIf="login==true" routerLink="/panel-admin" (click)="toggleMenu()" lines="none" >
          <img src="../assets/img/wrench.png" alt="" slot="start">
          <ion-label>Menú</ion-label>
        </ion-item>
        <ion-item   lines="none"   onclick="window.open('https://www.google.com/maps?ll=0.372352,-78.121676&z=15&t=m&hl=es-US&gl=US&mapclient=embed&cid=11735464735168140925', '_system')">
          <img src="../assets/img/point.png" alt="" slot="start">
          <ion-label >Ubicación</ion-label>
        </ion-item>
        <ion-item   *ngIf="login==false" routerLink="/login" (click)="toggleMenu()" lines="none" >
          <img src="../assets/img/access.png" alt="" slot="start">
          <ion-label>Ingresar</ion-label>
        </ion-item>
        <ion-item *ngIf="login==false" routerLink="/register" (click)="toggleMenu()" lines="none" >
          <img src="../assets/img/wrench.png" alt="" slot="start">
          <ion-label>Regístrate Aquí!</ion-label>
        </ion-item>
        <ion-item *ngIf="login==true" routerLink="/main" (click)="logoutUser()" lines="none" >
          <img src="../assets/img/out.png" alt="" slot="start">
          <ion-label>Cerrar sesión</ion-label>
        </ion-item>
        <ion-item   lines="none"   onclick="window.open('https://nousclic.com/', '_system')">
          <img src="../assets/img/logo_nous.png" alt="" slot="end">
          <ion-label slot="end">Nousclic</ion-label>
        </ion-item>
      </div>

  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
