

/* Estilos para darle color de fondo a los elementos del menu */
.container{
    width: 100%;
    height: 100%;
}

.container-menu{
   padding: 9% 0px 0px 9%;
   color:white;
   ion-icon{
       font-size: 25px;
   }
}


/* Estilos para darle color de fondo al header del menu */
ion-toolbar{
    border-radius: 3%;
    --background:rgba(1, 76, 154, 0);
    backdrop-filter: blur(30px);
    --padding-start:6%;
    --padding-end:6%;
    ion-icon{
        font-size: 28px;
        color:white;
    }
}

/* Estilos para todos los elementos del menu */
ion-item{
    --background: rgba(0,0,0,0);
    padding: 4%;
    --color:white;
}

img{
    width: 20px;
}

ion-menu{
    --background:rgba(1, 76, 154, 0.8);
    backdrop-filter: blur(8px);
}