//fondo de la imagen del container
.container{
    height: 100%;
    background-image: url("..//../assets/img/background2.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .h3azul{
    color:#014898;
}
//talla del icono en ion icon
ion-icon{
    font-size: 40px;
}
.img-user{
    width:20%;
}
/* Estilos del header  */
ion-toolbar{
    --padding-start:6%;
    --padding-end:6%;
    --padding-top:6%;
    margin-bottom: 6%;

    .img-logo{
        width:51px;
        height: 51px;
    }
    .container-img-header{
        display: flex;
        justify-content: center;
        width:89%;
    }
}


/* Estilos del mensaje de bienvenido */
.container-welcome{
    flex-direction: column;
    padding: 0px 6%;
    p{
        margin: 0px;
        font-size: 20px;
        font-weight: 500;
    }
    h1{
        font-weight: 700;
        font-size: 33px;
    }
    h2{
        font-weight: 700;
        font-size: 23px;
    }
}

/* Estilos generales de cada card */
ion-col{
    display: flex;
    justify-content: center;

    ion-card{
        border-radius: 15px;
        box-shadow: none;
        width: 90%;
        height: 90%;
    
        ion-card-header{
            display: flex;
            justify-content: center;
            .circle{
                width: 51px;
                height: 51px;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    
        ion-card-content{
            text-align: center;
            font-weight: bold;
            color:black;
            padding: 0 15px 15px;
    
        }
    }

}

/* Estilo de contenedor para separar las tarjetas del bienvenido */
.container{
    margin-top:20%;
}

/* Colores de las diferentes tarjetas */
.gray{
    background: rgba(15, 101, 122, 0.2);
}
.green{
    background: #EAFCEE;
}
.blue{
    background: #B9EAFF;
}
.purple{
    background: #CCE5FF;;
}