<ion-header class="ion-no-border">
  <ion-toolbar>
    <h3 class="h3azul ion-text-center">ITCA-App</h3>
    <img slot="end" class="img-logo ion-text-center" src="../../assets/img/logo.png" alt="" />
    <ion-menu-button slot="start" menu="administrador"></ion-menu-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row class="container-welcome">
    <ion-avatar>
      <img *ngIf="user.image==''" src="../../../../assets/img/profiledefault.png" />
      <img *ngIf="user.image!=''" src="{{user.image}}" />
    </ion-avatar>
    <h1>Hola, {{user.fullname}}</h1>
    <div *ngIf="user.role=='student'">
      <h2>Carrera:</h2>
      <p >{{user?.career}} </p>
      <h2>Periodo Actual:</h2>
      <p> {{user?.level}}</p>
    </div>
  </ion-row>
  <div class="container" *ngIf="user.role === 'student'">
    <ion-row *ngIf="user.role === 'student'">
      <ion-col size="6">
        <ion-card class="blue">
          <ion-card-header routerLink="/upinvoice">
            <div class="circle">
              <ion-icon name="document-text-outline"></ion-icon>
            </div>
          </ion-card-header>
          <ion-card-content routerLink="/upinvoice">
            Subir Pagos
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="purple">
          <ion-card-header routerLink="/invoicelist">
            <div class="circle">
              <ion-icon name="documents-outline"></ion-icon>
            </div>
          </ion-card-header>
          <ion-card-content routerLink="/invoicelist">
            Historial de Pagos
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="user.role === 'student'">
      <ion-col size="6">
        <ion-card class="gray">
          <ion-card-header routerLink="/main">
            <div class="circle">
              <ion-icon name="arrow-undo-outline"></ion-icon>
            </div>
          </ion-card-header>
          <ion-card-content routerLink="/main">
            Seccion de Noticias
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="blue">
          <ion-card-header routerLink="/profile">
            <div class="circle">
              <ion-icon name="create-outline"></ion-icon>
            </div>
          </ion-card-header>
          <ion-card-content routerLink="/profile">
            Editar Mi Perfil
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
  <ion-row *ngIf="user.role === 'admin'">
    <ion-col size="6">
      <ion-card class="gray">
        <ion-card-header routerLink="/notification">
          <div class="circle">
            <ion-icon name="add-outline"></ion-icon>
          </div>
        </ion-card-header>
        <ion-card-content routerLink="/notification">
          Nueva Noticia
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="green">
        <ion-card-header routerLink="/admin-notifications">
          <div class="circle">
            <ion-icon name="notifications-outline"></ion-icon>
          </div>
        </ion-card-header>
        <ion-card-content routerLink="/admin-notifications">
          Editar Noticias
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="user.role === 'admin'">
    <ion-col size="6">
      <ion-card class="blue">
        <ion-card-header routerLink="/contacts">
          <div class="circle">
            <ion-icon name="chatbubble-outline"></ion-icon>
          </div>
        </ion-card-header>
        <ion-card-content routerLink="/contacts">
          Formas de contácto
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="purple">
        <ion-card-header routerLink="/categories">
          <div class="circle">
            <ion-icon name="copy-outline"></ion-icon>
          </div>
        </ion-card-header>
        <ion-card-content routerLink="/categories">
          Categorías de Noticias
        </ion-card-content>
      </ion-card>
    </ion-col>   
    <ion-col size="6">
      <ion-card class="gray">
        <ion-card-header routerLink="/career">
          <div class="circle">
            <ion-icon name="school-outline"></ion-icon>
          </div>
        </ion-card-header>
        <ion-card-content routerLink="/career">
          Gestor de Carreras
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="green">
        <ion-card-header routerLink="/profile">
          <div class="circle">
            <ion-icon name="create-outline"></ion-icon>
          </div>
        </ion-card-header>
        <ion-card-content routerLink="/profile">
          Editar Mi Perfil
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="blue">
        <ion-card-header routerLink="/list-invoice-all">
          <div class="circle">
            <ion-icon name="cash-outline"></ion-icon>
          </div>
        </ion-card-header>
        <ion-card-content routerLink="/list-invoice-all">
          Pagos recibidos
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="purple">
        <ion-card-header routerLink="/databank">
          <div class="circle">
            <ion-icon name="wallet-outline"></ion-icon>
          </div>
        </ion-card-header>
        <ion-card-content routerLink="/databank">
          Datos Bancarios ITCA
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>