<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="panel-admin"></ion-back-button>
    <ion-toolbar>
      <h3 class="h3azul">ITCA-App</h3>
      <img slot="end" class="img-logo ion-text-center" src="../../assets/img/logo.png" alt="" />
    </ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="career">
  <ion-row class="container-title ion-text-center">
    <h1>Administrador de Carreras</h1>
  </ion-row>
  <ion-row class="container-welcome" >
    <ion-card>
      <ion-card-content class="form">
        <p>Nombre de la Carrera</p>
        <ion-col size="12">
          <ion-item lines="none">
            <ion-input placeholder="Nombre" [(ngModel)]="career.name" name="name">
            </ion-input>
          </ion-item>
          <div class="input-error ion-margin-top" *ngIf="errors.name">
            <span>
              <ion-icon name="alert-circle-outline"></ion-icon> {{errors.name}}
            </span>
          </div>
        </ion-col>
        <p>Descripción de la Carrera</p>
        <ion-col size="12">
          <ion-item lines="none">
            <ion-textarea placeholder="Descripción" [(ngModel)]="career.description" name="description"></ion-textarea>
          </ion-item>
          <div class="input-error ion-margin-top" *ngIf="errors.description">
            <span>
              <ion-icon name="alert-circle-outline"></ion-icon> {{errors.description}}
            </span>
          </div>
        </ion-col>
        <p>Tipo de Titulación</p>
        <ion-col size="12">
          <ion-item>
            <ion-select placeholder="Tipo de titulación" [(ngModel)]="career.tittleType" okText="Aceptar"
              cancelText="Cancelar" required>
              <ion-select-option value="Técnico">Técnico</ion-select-option>
              <ion-select-option value="Técnologo">Tecnólogo</ion-select-option>
              <ion-select-option value="Otros">Otros</ion-select-option>
            </ion-select>
          </ion-item>
          <div class="input-error ion-margin-top" *ngIf="errors.tittleType">
            <span>
              <ion-icon name="alert-circle-outline"></ion-icon> {{errors.tittleType}}
            </span>
          </div>
        </ion-col>
        <p>Periódos de la Carrera</p>
        <ion-col size="12">
          <ion-item>
            <ion-checkbox color="light" [(ngModel)]="career.levels[0].isActivate" slot="start"> </ion-checkbox>
            <label>Primer Periódo</label>
          </ion-item>
          <ion-item>
            <ion-checkbox color="light" [(ngModel)]="career.levels[1].isActivate" slot="start"> </ion-checkbox>
            <label>Segundo Periódo</label>
          </ion-item>
          <ion-item>
            <ion-checkbox color="light" [(ngModel)]="career.levels[2].isActivate" slot="start"> </ion-checkbox>
            <label>Tercero Periódo</label>
          </ion-item>
          <ion-item>
            <ion-checkbox color="light" [(ngModel)]="career.levels[3].isActivate" slot="start"> </ion-checkbox>
            <label>Cuarto Periódo</label>
          </ion-item>
          <ion-item>
            <ion-checkbox color="light" [(ngModel)]="career.levels[4].isActivate" slot="start"> </ion-checkbox>
            <label>Quinto Periódo</label>
          </ion-item>
          <ion-item>
            <ion-checkbox color="light" [(ngModel)]="career.levels[5].isActivate" slot="start"> </ion-checkbox>
            <label>Sexto Periódo</label>
          </ion-item>
          <div class="input-error ion-margin-top" *ngIf="errors.levels">
            <span>
              <ion-icon name="alert-circle-outline"></ion-icon> {{errors.levels}}
            </span>
          </div>
        </ion-col>
        <p>Paralelos Disponibles</p>
        <ion-col size="12">
          <ion-item>
            <ion-checkbox color="light" [(ngModel)]="career.parallel[0].isActivate" slot="start"> </ion-checkbox>
            <label>Paralelo A</label>
          </ion-item>
          <ion-item>
            <ion-checkbox color="light" [(ngModel)]="career.parallel[1].isActivate" slot="start"> </ion-checkbox>
            <label>Paralelo B</label>
          </ion-item>
          <ion-item>
            <ion-checkbox color="light" [(ngModel)]="career.parallel[2].isActivate" slot="start"> </ion-checkbox>
            <label>Paralelo C</label>
          </ion-item>
          <ion-item>
            <ion-checkbox color="light" [(ngModel)]="career.parallel[3].isActivate" slot="start"> </ion-checkbox>
            <label>Paralelo D</label>
          </ion-item>
          <ion-item>
            <ion-checkbox color="light" [(ngModel)]="career.parallel[4].isActivate" slot="start"> </ion-checkbox>
            <label>Paralelo E</label>
          </ion-item>
          <ion-item>
            <ion-checkbox color="light" [(ngModel)]="career.parallel[5].isActivate" slot="start"> </ion-checkbox>
            <label>Paralelo F</label>
          </ion-item>
          <div class="input-error ion-margin-top" *ngIf="errors.levels">
            <span>
              <ion-icon name="alert-circle-outline"></ion-icon> {{errors.levels}}
            </span>
          </div>
        </ion-col>
        <p>Estado</p>
        <ion-col size="12">
          <ion-item>
            <ion-select placeholder="Estado de Carrera" [(ngModel)]="career.isActivate" okText="Aceptar"
              cancelText="Cancelar" required>
              <ion-select-option value="Habilitado">Habilitada</ion-select-option>
              <ion-select-option value="Deshabilitado">Deshabilitada</ion-select-option>
            </ion-select>
          </ion-item>
          <div class="input-error ion-margin-top" *ngIf="errors.isActivate">
            <span>
              <ion-icon name="alert-circle-outline"></ion-icon> {{errors.isActivate}}
            </span>
          </div>
        </ion-col>
      </ion-card-content>
    </ion-card>
  </ion-row>
  <ion-row class="container-btn margindown">
    <ion-button (click)="addCareer()"> Crear Carrera </ion-button>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="container-title">
      <h1>Carreras Registradas</h1>
    </ion-col>
    <ion-col size="12">
      <ion-grid fixed>
        <ion-row class="container-card margindown" *ngFor="let item of careers; let i = index">
          <ion-col>
            <ion-card style="margin-top: 20px;">
              <ion-card-content class="form">
                <h1>{{item.name}}</h1>
                <p> <strong>Descripción: </strong>{{item.description}}</p>
                <p> <strong>Tipo de Titulación: </strong>{{item.tittleType}}</p>
                <p>
                  <strong>Estado: </strong>
                  <ion-note *ngIf="item.isActivate == 'Habilitado'" color="success">Habilitada</ion-note>
                  <ion-note *ngIf="item.isActivate == 'Deshabilitado'" color="danger">Deshabilitada</ion-note>
                </p>
                <ion-row class="container-btns">
                  <ion-item
                    (click)="UpdateCareer(item)">
                    <ion-label class="icon">
                      <ion-icon name="pencil-outline"></ion-icon>
                    </ion-label>
                  </ion-item>
                  <ion-item (click)="DeleteCareer(item.uid)">
                    <ion-label class="icon">
                      <ion-icon name="trash-outline"></ion-icon>
                    </ion-label>
                  </ion-item>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>
</ion-content>