//fondo de la imagen del container
.container{
    height: 100%;
    background-image: url("..//../assets/img/background2.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
.h3azul{
      color:#014898;
  }
/* Estilos del header  */

ion-toolbar{
    --padding-start:6%;
    --padding-end:6%;
    --padding-top:6%;
    margin-bottom: 6%;

    .img-logo{
        width:51px;
        height: 51px;
    }
    .container-img-header{
        display: flex;
        justify-content: center;
        width:89%;
    }
}

/* Estilos del mensaje de bienvenido */
.container-welcome{
    flex-direction: column;
    padding: 0px 6%;
    p{
        margin: 0px;
        font-size: 20px;
        font-weight: 500;
    }
    h1{
        font-weight: 700;
        font-size: 33px;
    }
}

/* Estilos del titulo de la pagina */
.container-title{
    padding: 0px 6%;
    margin-top: 10%;
    p{
        font-weight: bold;
        font-size: 17px;
    }
}

/* Estilos del icono de subir categoria */
.container-icon{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .circle{
        width: 51px;
        height: 51px;
        background: #CBD8DC;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        ion-icon{
            font-size: 20px;
        }
    }
}

/* Estilos de la tarjeta de los inputs */
.container-card{
    display: flex;
    justify-content: center;
    ion-card{
        width: 90%;
        background-color:#DDF2FB; 
        box-shadow: none;
        border-radius: 15px;
        ion-card-content{
            padding: 20px;
            padding-top: 10px;
            ion-select {
                width: 100%;
                justify-content: center;
              }
              p{
                  font-weight: bold;
                  color: black;
              }
              ion-item{
                --border-radius:10px;
               
              }
        }
    }
}

/* Estilos del contenedor del boton para agregar imagen */


.container-query-icon{
    display: flex;
    justify-content: center;
    ion-icon{
        font-size: 40px;
    }
}

.icon{
    display: flex;
    justify-content: center;
}
