//fondo de la imagen del container
.container{
    height: 100%;
    background-image: url("..//../assets/img/background2.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
.h3azul{
      color:#014898;
  }
/* Estilos del header  */
ion-toolbar{
    --padding-start:6%;
    --padding-end:6%;
    --padding-top:6%;
    margin-bottom: 6%;

    .img-logo{
        width:51px;
        height: 51px;
    }
    .container-img-header{
        display: flex;
        justify-content: center;
        width:89%;
    }
}
//Estilos de boton subir img
.btn-subir{
    background-color:#94c9d4;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    padding: 5%;
    font-size: 25px;
    }

/* Estilos del mensaje de bienvenido */
.container-welcome{
    flex-direction: column;
    padding: 0px 6%;
    p{
        margin: 0px;
        font-size: 20px;
        font-weight: 500;
    }
    h1{
        font-weight: 700;
        font-size: 33px;
    }
}

/* Estilos del titulo de la pagina */
.container-title{
    padding: 0px 6%;
    margin-top: 10%;
    p{
        font-weight: bold;
        font-size: 17px;
    }
}


/* Estilos del icono de subir categoria */
.container-icon{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid #979797;
    width: 100%;
    height: 200px;
    border-radius: 21px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    ion-item{
        --background:rgba(0,0,0,0);
    }
    .circle{
        width: 51px;
        height: 51px;
        background: #CBD8DC;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
}

#file-input {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 999;
  }



/* Estilos de la tarjeta de los inputs */
.container-card{
    display: flex;
    justify-content: center;
    ion-card{
        width: 90%;
        box-shadow: none;
        border-radius: 15px;
        ion-card-content{
            padding: 20px;
            padding-top: 10px;
            ion-select {
                width: 100%;
                justify-content: center;
              }
              p{
                  font-weight: bold;
                  color: black;
              }
              ion-item{
                --border-radius:10px;
               
              }

              .categories{
                  margin-top: 5%;
                  ion-select{
                    --placeholder-opacity:1;
                  }
                  
              }
        }
    }
}

.select-black{
    --background: #161616;
    color: white;
}

.container-link{
    padding: 0px 6%;
    display: flex;
    justify-content: space-between;
    p{
        font-weight: bold;
        font-size: 17px;
    }
    .circle{
        width: 40px;
        height: 40px;
        background: #333333;
        color: white;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}


.blue{
    background-color:#DDF2FB; 
}

.green{
    background-color:#E8F8E5; 
}





