<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="panel-admin"></ion-back-button>
    <ion-toolbar>
      <h3 class="h3azul">ITCA-App</h3>
      <img slot="end" class="img-logo ion-text-center" src="../../assets/img/logo.png" alt="" />
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="container-welcome">
    <h2>Comprobantes de Pago</h2>
  </ion-row>

  <ion-row class="container-title">
    <ion-col size="12">
      <p>Fotografía del comprobante</p>
    </ion-col>
    <ion-col size="12">
      <div class="container-icon" style="background-image: url({{invoice.img}});">
        <ion-item lines="none">
          <ion-input type="file" accept="image/*" id="file-input" #fileInp (change)="uploadImageTemporary($event)">
          </ion-input>
          <button class="btn-subir">
            <ion-icon name="arrow-up-outline"></ion-icon>
          </button>
        </ion-item>
      </div>
    </ion-col>
    <div class="input-error ion-margin-top" *ngIf="errors.img">
      <span>
        <ion-icon name="alert-circle-outline"></ion-icon> {{errors.img}}
      </span>
    </div>
  </ion-row>

  <ion-row class="container-card">
    <ion-card class="blue">
      <ion-card-content class="form">
        <p>Nombre del estudiante</p>
        <ion-item lines="none">
          <ion-input type="text" [(ngModel)]="invoice.studentName" readonly="true" value='{{user?.fullname}}'></ion-input>
        </ion-item>
        <p>Carrera del estudiante</p>
        <ion-item lines="none">
          <ion-input type="text" [(ngModel)]="invoice.career" readonly="true" value='{{user?.career}}'></ion-input>
        </ion-item>
        <p>Nivel del estudiante</p>
        <ion-item lines="none">
          <ion-input type="text" [(ngModel)]="invoice.level" readonly="true" value='{{user?.level}}'></ion-input>
        </ion-item>
        <p>Paralelo</p>
        <ion-item lines="none">
          <ion-input type="text" [(ngModel)]="invoice.parallel" readonly="true" value='{{user?.parallel}}'></ion-input>
        </ion-item>
        <p>Detalles del pago</p>
        <ion-item lines="none">
          <ion-textarea [(ngModel)]="invoice.detail"></ion-textarea>
        </ion-item>
        <div class="input-error ion-margin-top" *ngIf="errors.detail">
          <span>
            <ion-icon name="alert-circle-outline"></ion-icon> {{errors.detail}}
          </span>
        </div>      

        <ion-item lines="none" class="categories">
          <ion-select placeholder="Institución Financiera" [(ngModel)]="invoice.bank" (ionChange)="onChangeBank($event)">
            <ion-select-option *ngFor="let item of banks" value="{{item.name}}"><span>{{item.name}}</span>
            </ion-select-option>
          </ion-select>
        </ion-item>
        <div *ngIf="selectedBank?.helpImg != null">
          <p>Imagen de Ayuda</p>
          <ion-slides [options]="sliderOpts" zoom>
            <ion-slide>
              <ion-item>
                <div class="swiper-zoom-container">
                  <img src="{{selectedBank?.helpImg}}" width="100%" height="100%">
                </div>
            </ion-item>
            </ion-slide>
          </ion-slides>
        </div>
        <div class="input-error ion-margin-top" *ngIf="errors.bank">
          <span>
            <ion-icon name="alert-circle-outline"></ion-icon> {{errors.bank}}
          </span>
          
        </div>
        <p>Número ÚNICO del Comprobante</p>
        <ion-item lines="none">
          <ion-input type="text" [(ngModel)]="invoice.identifynumber"></ion-input>
        </ion-item>
        <div class="input-error ion-margin-top" *ngIf="errors.identifynumber">
          <span>
            <ion-icon name="alert-circle-outline"></ion-icon> {{errors.indentifynumber}}
          </span>
        </div>
        
        
        
        <p>Valor</p>
        <ion-item lines="none">
          <ion-input type="number" [(ngModel)]="invoice.value"></ion-input>
        </ion-item>
        <div class="input-error ion-margin-top" *ngIf="errors.value">
          <span>
            <ion-icon name="alert-circle-outline"></ion-icon> {{errors.value}}
          </span>
        </div>

        <ion-item lines="none" class="categories">
          <ion-select placeholder="Motivo del Abono" [(ngModel)]="invoice.reason">
            <div>
              <ion-select-option> Arancel Enero</ion-select-option>
              <ion-select-option> Arancel Febrero</ion-select-option>
              <ion-select-option> Arancel Marzo</ion-select-option>
              <ion-select-option> Arancel Abril</ion-select-option>
              <ion-select-option> Arancel Mayo</ion-select-option>
              <ion-select-option> Arancel Junio</ion-select-option>
              <ion-select-option> Arancel Julio</ion-select-option>
              <ion-select-option> Arancel Agosto</ion-select-option>
              <ion-select-option> Arancel Septiembre</ion-select-option>
              <ion-select-option> Arancel Octubre</ion-select-option>
              <ion-select-option> Arancel Noviembre</ion-select-option>
              <ion-select-option> Arancel Diciembre</ion-select-option>
              <ion-select-option> Abonos/Otros</ion-select-option>
            </div>
          </ion-select>
        </ion-item>
        <div class="input-error ion-margin-top" *ngIf="errors.reason">
          <span>
            <ion-icon name="alert-circle-outline"></ion-icon> {{errors.reason}}
          </span>
        </div>
        <p>Términos de Manejo de información y Finanzas</p>
        <ion-item lines="none">
          <ion-textarea class="ion-text-justify" readonly="true">Yo <strong>{{user?.fullname}} </strong>en calidad de
            estudiante del ITCA, certifico que todos los fondos del que proviene la cantidad entregada son de licitud
            legal, la información que proporciono sobre el mismo no es falsificada ni clonada, acepto las condiciones
            legales en las que me encontrase si hiciere mal uso de esta plataforma y su contenido. Autorizo a ITCA APP a
            validar la veracidad de la información que proporciono.
          </ion-textarea>
        </ion-item>
        <p>
          <ion-item>
            <ion-checkbox [(ngModel)]="isChecked" color="light" slot="start"></ion-checkbox> <ion-label>Aceptar</ion-label>
          </ion-item>          
        </p>
      </ion-card-content>
    </ion-card>
  </ion-row>
  <ion-row class="container-btn margindown">
    <ion-button (click)="addInvoice()"> Guardar Comprobante </ion-button>
  </ion-row>
</ion-content>
