
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon (click)="quit()"  name="arrow-back-outline" slot=start></ion-icon>
    <ion-row class="container-img-header">
      <img class="img-logo" src="../../assets/img/logo.png" alt="" />
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="container-title">
    <ion-col size="12">
      <p>Actualizar notificación</p>
    </ion-col>
    <ion-col size="12">
      <div class="container-icon" style="background-image: url({{notification.img}});">
        <ion-item lines="none">
          <ion-input type="file" accept="image/png, image/jpeg" id="file-input"  (change)="uploadImageTemporary($event)">
          </ion-input>
          <button class="btn-subir">
            <ion-icon name="arrow-up-outline"></ion-icon>
          </button>
        </ion-item>
      </div>
    </ion-col>
  </ion-row>
  
  <ion-row class="container-card">
    <ion-card>
      <ion-card-content>
        <ion-row class="container-title-input form" >
          <p>Nombre</p>
          <ion-icon name="pencil-outline"></ion-icon>
        </ion-row>
        <ion-item lines="none">
          <ion-input type="text" [(ngModel)]="notification.name"></ion-input>
        </ion-item>
        <ion-row class="container-title-input">
          <p>Descripción</p>
          <ion-icon name="pencil-outline"></ion-icon>
        </ion-row>
        <ion-item lines="none">
          <ion-textarea [(ngModel)]="notification.description"></ion-textarea>
        </ion-item>
  
  
  
        <ion-item lines="none" class="categories ">
          <ion-select placeholder="Categorías" [(ngModel)]="notification.category">
            <div *ngFor="let category of Categoris; let i = index">
              <ion-select-option value="{{category.name}}">{{category.name}}</ion-select-option>
            </div>
          </ion-select>
  
  
        </ion-item>
        <ion-item lines="none" class="categories ">
          <ion-select placeholder="Estado" [(ngModel)]="notification.state">
            <ion-select-option value="public">Público</ion-select-option>
            <ion-select-option value="hide">Oculto</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card-content>
  
    </ion-card>
  </ion-row>
  <ion-row class="container-btn margindown">
    <ion-button (click)="updateNotification()">
      Actualizar
    </ion-button>
    <ion-button (click)="enviar()">
      Enviar notificación
    </ion-button>

  </ion-row>

</ion-content>

