//fondo de la imagen del container
.container{
    height: 100%;
    background-image: url("..//../assets/img/background2.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
.h3azul{
      color:#014898;
  }

/* Estilos del header  */
ion-toolbar{
    --padding-start:6%;
    --padding-end:6%;
    --padding-top:6%;
    margin-bottom: 6%;
    text-align: center;

    .img-logo{
        width:25%;
        height: 25%;
        
    }
    .container-img-header{
        display: flex;
        justify-content: center;
        width:89%;
    }
}

.check{
    width:40%;    
    padding-bottom: 20%;
}

.container{
    text-align: center;
}

h1 {
    color: #0f0f0f;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 10%;
  }

  h4 {
    color: #0f0f0f;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
  }

  .btn{
    /* Green */
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    background: #2b2b22;
    height: 60px;
    width: 80%;
    box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.25);
    border-radius: 15px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5%;
  }