<ion-header class="ion-no-border">
  <ion-toolbar>
    <img class="img-logo" src="../../assets/img/logo.png" alt="" />
    <ion-back-button slot="start" defaultHref="main"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h1>Registro Exitoso</h1>
    <img class="check" src="../../assets/img/check.png" alt="" />
    <h4>Revisa tu bandeja de </h4>
  <h4>entrada para activar tu cuenta</h4>
  <button class="btn" (click)="back()">Volver al Inicio</button>
  </div>
</ion-content>