<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon (click)="quit()"  name="arrow-back-outline" slot=start></ion-icon>
    <ion-row class="container-img-header">
      <img class="img-logo" src="../../assets/img/logo.png" alt="" />
    </ion-row>
  </ion-toolbar>
</ion-header>



<ion-content>  
<ion-row class="container-title">
  <ion-col size="12">
    <p>Actualizar Categoría</p>
  </ion-col>
  <!--     <ion-col size="12">
    <div class="container-icon">
      <div class="circle">
        <img src="../../assets/img/add-notification.png" alt="">
      </div>
      <p>Agregar icono</p>
    </div>
  </ion-col> -->
</ion-row>

<ion-row class="container-card">
  <ion-card>
    <ion-card-content class="form">
      <p>Nombre</p>
      <ion-item lines="none">
        <ion-input type="text" [(ngModel)]="name"></ion-input>
      </ion-item>
      <p>Descripción</p>
      <ion-item lines="none">
        <ion-textarea [(ngModel)]="description"></ion-textarea>
      </ion-item>
      <p>Estado</p>
      <ion-item lines="none">
        <ion-select [(ngModel)]="state">
          <ion-select-option value="public">Público</ion-select-option>
          <ion-select-option value="hide">Oculto</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>

  </ion-card>
</ion-row>
<ion-row class="container-btn">
  <ion-button (click)="update( name,description,state)">
    Actualizar
  </ion-button>
</ion-row>

</ion-content>


