<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="panel-admin"></ion-back-button>
    <ion-toolbar>
      <h3 class="h3azul">ITCA-App</h3>
      <img slot="end" class="img-logo ion-text-center" src="../../assets/img/logo.png" alt="" />
    </ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row class="container-welcome">
    <h1>Administración de Información Bancaria</h1>
  </ion-row>

  <ion-row class="container-title">
    <ion-col size="12">
      <p>Imagen de Ayuda al Estudiante</p>
    </ion-col>
    <ion-col size="12">
      <div
        class="container-icon"
        style="background-image: url({{bank.helpImg}});" >
        <ion-item lines="none">
          <ion-input
            type="file"
            accept="image/*"
            id="file-input"
            #fileInp
            (change)="uploadImageTemporary($event)">
          </ion-input>
          <button class="btn-subir">
            <ion-icon name="arrow-up-outline"></ion-icon>
          </button>
        </ion-item>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="container-card">
    <ion-card class="blue">
      <ion-card-content class="form">
        <p>Nombre de la Institución</p>
        <ion-item lines="none">
          <ion-input type="text" [(ngModel)]="bank.name"></ion-input>
        </ion-item>
        <p>Número de cuenta (Puede contener letras)</p>
        <ion-item lines="none">
          <ion-input type="text" [(ngModel)]="bank.accountNumber"></ion-input>
        </ion-item>
        <p>Activo</p>
        <ion-item lines="none">
          <ion-select placeholder="Estado de Banco" [(ngModel)]="bank.isActivate" >
              <ion-select-option value='yes'> Activo</ion-select-option>
              <ion-select-option value='no'> Inactivo</ion-select-option>
          </ion-select>
        </ion-item>    
      </ion-card-content>
    </ion-card>
  </ion-row>
  <ion-row class="container-btn margindown">
    <ion-button (click)="addBank()"> Guardar Banco </ion-button>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="container-title">
      <h1>Carreras Registradas</h1>
    </ion-col>
    <ion-col size="12">
      <ion-grid fixed>
        <ion-row class="container-card margindown" *ngFor="let item of banks; let i = index">
          <ion-col>
            <ion-card style="margin-top: 20px;">

              <ion-card-content class="form">
                <h1>{{item.name}}</h1>
                <p> <strong>Nombre: </strong>{{item.name}}</p>
                <p> <strong>Nro de Cuenta: </strong>{{item.accountNumber}}</p>
                <img slot="end" class="img-logo ion-text-center" src="{{item.helpImg}}" alt="" />
                <p>
                  <strong>Estado: </strong>
                  <ion-note *ngIf="item.isActivate == 'Habilitado'" color="success">Habilitada</ion-note>
                  <ion-note *ngIf="item.isActivate == 'Deshabilitado'" color="danger">Deshabilitada</ion-note>
                </p>
                <ion-row class="container-btns">
                  <!-- <ion-item
                    (click)="UpdateCareer(item)">
                    <ion-label class="icon">
                      <ion-icon name="pencil-outline"></ion-icon>
                    </ion-label>
                  </ion-item> -->
                  <ion-item (click)="DeleteBank(item.uid)">
                    <ion-label class="icon">
                      <ion-icon name="trash-outline"></ion-icon>
                    </ion-label>
                  </ion-item>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>
</ion-content>