<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
    <ion-back-button slot="start" defaultHref="/panel-admin"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="container-welcome">
    <ion-col size="6">
      <h1>Hola {{user.fullname}}</h1>
    </ion-col>
    <ion-col size="6">
      <ion-avatar>
        <img *ngIf="user.image==''" src="../../../../assets/img/profiledefault.png" />
        <img *ngIf="user.image!=''" src="{{user.image}}" />
      </ion-avatar>
      <ion-button> Editar Imagen </ion-button>
      <ion-input type="file" accept="image/png, image/jpeg" id="file-input" (change)="uploadImageTemporary($event)">
      </ion-input>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <div class="container-inputs">
        <ion-label class="label ion-text-uppercase" position="stacked">Nombres Completos</ion-label>
        <ion-item>
          <ion-input name="user" type="text" [(ngModel)]="user.fullname"></ion-input>
        </ion-item>
      </div>

      <div class="container-inputs">
        <ion-label class="label ion-text-uppercase" position="stacked">Email</ion-label>
        <ion-item>
          <ion-input readonly name="user" type="text" [(ngModel)]="user.email"></ion-input>
        </ion-item>
      </div>

      <div class="container-inputs">
        <ion-label class="label ion-text-uppercase" position="stacked">Dirección</ion-label>
        <ion-item>
          <ion-input name="address" placeholder='Dirección' type="text" [(ngModel)]="user.address"></ion-input>
        </ion-item>
      </div>

      <div class="container-inputs">
        <ion-label class="label ion-text-uppercase" position="stacked">Celular</ion-label>
        <ion-item>
          <ion-input type="tel" placeholder="Numero de teléfono" name="phone" maxlength="10"
            [(ngModel)]="user.phoneNumber" required></ion-input>
        </ion-item>
      </div>

      <div class="container-inputs">
        <ion-label class="label ion-text-uppercase" position="stacked">Nro de Cédula</ion-label>
        <ion-item>
          <ion-input type="text" [(ngModel)]="user.identificationDocument" placeholder="Numero de identificación"
            type="number" pattern="[0-9]{11,14}" maxlength="13" readonly></ion-input>
        </ion-item>
      </div>

      <div class="container-inputs">
        <ion-label class="label ion-text-uppercase" position="stacked">Trato</ion-label>
        <ion-item>
          <ion-select placeholder="Trato" readonly [(ngModel)]="user.gender">
            <ion-select-option value="M">Señor</ion-select-option>
            <ion-select-option value="F">Señorita</ion-select-option>
            <ion-select-option value="Other">Otro</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <div *ngIf="user.role=='student'">
        <div class="container-inputs">
          <ion-label>Carrera</ion-label>
          <ion-item>
            <ion-select placeholder="Seleccione su Carrera"[(ngModel)]="user.career" (ionChange)="onChangeCarrer($event)">
              <ion-select-option *ngFor="let item of careers" value="{{item.name}}"><span>{{item.name}}</span>
              </ion-select-option>
            </ion-select>
          </ion-item>
        </div>
        <div class="container-inputs">
          <ion-label>Nivel</ion-label>
          <ion-item>
            <ion-select placeholder="Seleccione su Nivel" [(ngModel)]="user.level">
              <div *ngFor="let item of levels; let i = index">
                <ion-select-option value="{{item.name}}"><span>{{item.name}}</span>
                </ion-select-option>
              </div>
         
            </ion-select>
          </ion-item>
        </div>
        <div class="container-inputs">
          <ion-label>Paralelo</ion-label>
          <ion-item>
            <ion-select placeholder="Seleccione su Paralelo" [(ngModel)]="user.parallel">
              <div *ngFor="let item of parallels; let i = index">
                <ion-select-option value="{{item.name}}"><span>{{item.name}}</span>
                </ion-select-option>
              </div>         
            </ion-select>
          </ion-item>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-button (click)="updateUser()" class="my_buttton"> Actualizar Perfil </ion-button>
</ion-content>
