<ion-header class="ion-no-border">
  <ion-toolbar>
    <h3 class="h3azul">ITCA-App</h3>
    <img slot="end" class="img-logo ion-text-center" src="../../assets/img/logo.png" alt="" />
    <ion-menu-button slot="start" menu="administrador"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    
  <ion-row class="container-welcome">
    <h1>Contáctanos</h1>
    <p>Respondemos tus dudas</p>
  </ion-row>

  <ion-row class="banner">
    <ion-col size="12" >
      <ion-slides [options]="bannerConfig" >
        <ion-slide  *ngFor="let item of lastFivenotification" routerLink="/notice/{{item.id}}">
          <ion-card class="card-banner" style="background-image:url('{{item.img}}');"  >
            <ion-card-header>
              <div class="container-name">
                <ion-icon name="person-circle"></ion-icon>
                <p>ITCA-App</p>
              </div>
              <div class="time">
                <ion-icon name="time-outline"></ion-icon>
                <p>{{item.updateDate}}</p>
              </div> 
            </ion-card-header>
            <ion-card-content>
              <h1>{{item.name}}</h1>
              <p>{{substr(item.description)}}...</p>
            </ion-card-content>
          </ion-card>
  
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>

  <ion-row class="container-title">
    <ion-col size="12">
      <p>Departamentos</p>
    </ion-col>
    <ion-col size="12">
      <ion-slides [options]="categoryConfig" >
        <ion-slide class="slide" *ngFor="let data of contacts; let i = index"> 
          <ion-col>
            <ion-card class="gray"  (click)="ventana(data.hiper)"> 
              <ion-card-header>
                <div class="circle">
                  <ion-icon slot="start" name="{{data.icon}}"></ion-icon>
                </div>
          
              </ion-card-header>
              <ion-card-content>
                <p>{{data.categoria}}</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-slide>  
      </ion-slides>
    </ion-col>


  </ion-row>
  </div>

</ion-content>
