<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="panel-admin"></ion-back-button>
    <ion-toolbar>
      <h3 class="h3azul">ITCA-App</h3>
      <img slot="end" class="img-logo ion-text-center" src="../../assets/img/logo.png" alt="" />
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <ion-card class="image-card">
      <ion-slides [options]="sliderOpts" zoom>
        <ion-slide >
          <div class="swiper-zoom-container">
            <img src="{{invoice?.img}}" width="90%" height="90%">
          </div>      
        </ion-slide>
      </ion-slides>  
    </ion-card>
  </section>

  <ion-card class="card-invoice">
    
    <ion-card-header>
      <ion-card-title >Detalles del Comprobante</ion-card-title>
      <ion-item>
      </ion-item>      
    </ion-card-header>
    <ion-card-content>
      <p><strong><ion-label color="dark">Estudiante: </ion-label></strong>{{invoice?.studentName}}</p>
      <p><strong><ion-label color="success">Fecha: </ion-label></strong>{{invoice?.createAt.toDate() | date:'dd/MM/yyyy' }}</p>
      <p><strong><ion-label color="dark">Banco: </ion-label></strong>{{invoice?.bank}}</p>
      <p><strong><ion-label color="success">Valor depositado : </ion-label></strong> ${{invoice?.value}} </p>
      <p><strong><ion-label color="dark">Motivo de Pago: </ion-label></strong>{{invoice?.reason}}</p>
      <p><strong><ion-label color="success">Detalle del pago: </ion-label></strong>{{invoice?.detail}}</p>
      <div class="ion-align-items-center">
        <p><strong><ion-button disabled *ngIf="invoice?.resolution == 'accepted'" color="success">Pago Aceptado </ion-button></strong></p>
        <p><strong><ion-button disabled *ngIf="invoice?.resolution == 'rejected'" color="danger">Pago Rechazado </ion-button></strong></p>
        <p><strong><ion-button disabled *ngIf="invoice?.resolution == 'incompleted'" color="warning">Pago Incompleto </ion-button></strong></p>
      </div>
      
        <ion-list *ngIf="invoice?.resolution == 'registered'">
          <ion-radio-group [(ngModel)]="resolutionAux">
            <ion-list-header>
              <ion-label>Verificar estado del pago</ion-label>
            </ion-list-header>        
            <ion-item>
              <ion-label>Aceptar Pago</ion-label>
              <ion-radio slot="start" value="accepted"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>Rechazar Pago</ion-label>
              <ion-radio slot="start" value="rejected"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>Pago Incompleto</ion-label>
              <ion-radio slot="start" value="incompleted"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
        <div *ngIf="user?.role=='admin'">
          <ion-item class="ion-text-center" >
            <ion-button size="small" color="success" (click)="updateBank()">Guardar Cambios</ion-button>
          </ion-item>
        </div>      
    </ion-card-content>
  </ion-card>
</ion-content>
