//fondo de la imagen del container
.container {
  height: 100%;
  background-image: url("..//../assets/img/background2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.h3azul {
  color: #014898;
}

/* Estilos del header  */
ion-toolbar {
  --padding-start: 6%;
  --padding-end: 6%;
  --padding-top: 6%;
  margin-bottom: 6%;

  .img-logo {
    width: 51px;
    height: 51px;
  }

  .container-img-header {
    display: flex;
    justify-content: center;
    width: 89%;
  }
}

/* img {
  padding-left: 10%;
  padding-right: 10%;
  height: 50%;
} */

.preview-slides {
  margin-top: 20%;
  background: #e6e6e6;

  img {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.image-slide,
.image-card {
  overflow: visible;
}

.image-card {
  z-index: 9;
}

.backdrop {
  height: 200%;
  width: 100%;
  background: black;
  position: absolute;
  z-index: 10;
}
