/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Colores de los menus */
ion-menu-button,ion-back-button{
    color:black;
}

/*Estilo del parrafo*/

.parrafo{
    text-align: justify;
}


/* Estilo del modal */
.my-custom-class-2 .modal-wrapper {
    height: 60%;
    top:40%;
    width: 100%;
    position: absolute; 
    display: block;  
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.2);
    border-radius: 14px;
    
 }
 .form p {
    padding: 10px 0 8px  5px;
}

/*SOY EL BOTON, OBVIS*/
.container-btn{
    display: flex;
    justify-content: center;
    ion-button{
        height: 60px;
        width:90%;
        --background:#4ac96a;
        --background-activated:#DDF2FB;
        --border-radius: 15px;
        --box-shadow:0px 4px 20px rgba(255, 255, 255, 0.25);
        font-size: 12px;
        font-weight: bold;
        color:#fcfcfc;
        margin-top: 10px;
    }
}


//for the zoom image
.transparent-modal {
    .modal-wrapper {
        --background: rgba(44, 39, 45, 0.2);
    }
}

.margindown{
    margin-bottom: 20px;
}

.mr{
    margin-right: 5px;
}

.card-invoice{
    border-radius: 10px;
    ion-card-header{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        ion-card-title{
            color:#014898;
        }
    }

}