.container{
  height: 60%;
  background-image: url("..//../assets/img/itcabackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


 
/* Estilos del contenedor del logo y la imagen del logo */
.logo-container{
  display: flex;
  justify-content: center;
  margin-bottom: 20%;
  img{
    margin-top: 0%;
    width: 85%;
    height: 85%;
}
}

/* Se coloca en blanco el texo */
h2,h3{
  color:#fff;
}

/* Clase para cambiar la fuerza del texto de h2 */
h2{
  font-weight: 700;
}

/* Contenedor donde va el texto de bienvenido */
.container-welcome{
  width: 100%;
  height: 100%;
  padding: 5%;
  position: relative;
  bottom: 20%;
  background-color: #014C9A;
  border-radius: 35px 35px 0px 0px;
}

/* Contenedor del boton que sirve para ubicar el boton y el logo de nousclic */
.container-btn{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
}

/* Estilos del boton de comencemos */
ion-button{
  --background:white;
  --background-activated:white;
  color:black;
  --border-radius:30px;
  font-weight: bold;
  width: 80%;
  height: 50px;
}


/* Media Querys para adaptar el estilo a varias pantallas */
/* @media (min-height: 800px) {
  .container-btn{
    margin-top: 40%;
  }
 }

 @media (min-width: 700px) {
  .logo-container{
    margin-bottom: 15%;
  
   
  }

  .container-btn{
    margin-top: 25%;
   ion-button{
    height: 70px;
   }
  }
 }

 @media (min-width: 900px) {
   
.logo-container{
  margin-top: 20%;
  margin-bottom: 20%;


}
  .container-btn{
    margin-top: 10%;
   ion-button{
    height: 70px;
   }
  }
 }
 */
