
<ion-content scrollY="true">
   <div class="container">
      <ion-row class="logo-container">
         <img src="../../assets/img/logonuevo.png" alt="">
      </ion-row>
      <div class="container-welcome">
         <ion-row>
            <ion-col size="12">
              <h2>Bienvenido</h2>
            </ion-col>
     
            <ion-col size="12">
              <h3>Porque el mundo no se detiene, nos adaptamos a una nueva era digital, estamos más cerca de ti</h3>
            </ion-col>
            
            <ion-col size="12" class="container-btn">
              <ion-button routerLink="/main">
                 Comencemos
              </ion-button>
              <img src="../../assets/img/logo_nous.png" alt="">
            </ion-col>
         </ion-row>
     
      </div>
   </div>
 
</ion-content>
