<ion-content>
  <div class="header">
    <ion-row class="logo-container">
      <img class="img-signIn" src="../../assets/img/logonuevo.png" />
    </ion-row>

    <ion-segment [(ngModel)]="selectedAction" (click)="selectedActionChange($event)">
      <ion-segment-button value="login">
        <ion-label>Iniciar sesión</ion-label>
      </ion-segment-button>
      <ion-segment-button value="register">
        <ion-label>Regístrate</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-row class="container">
    <div class="container-inputs">
      <ion-label class="label" position="stacked">NOMBRES Y APELLIDOS</ion-label>
      <ion-item>
        <ion-input [(ngModel)]="user.fullname" name="name" type="text"></ion-input>
      </ion-item>
      <div class="input-error ion-margin-top" *ngIf="errors.fullname">
        <span><ion-icon name="alert-circle-outline"></ion-icon> {{errors.fullname}}</span>
      </div>
    </div>
    <div class="container-inputs">
      <ion-label class="label" position="stacked"> CÉDULA</ion-label>
      <ion-item>
        <ion-input name="reg_number" type="text" [(ngModel)]="user.identificationDocument"></ion-input>
      </ion-item>
      <div class="input-error ion-margin-top" *ngIf="errors.identificationDocument">
        <span><ion-icon name="alert-circle-outline"></ion-icon> {{errors.identificationDocument}}</span>
      </div>
    </div>
    <div class="container-inputs">
      <ion-label class="label" position="stacked">NRO CELULAR</ion-label>
      <ion-item>
        <ion-input
            type="tel"
            placeholder="Numero de teléfono"
            name="phone"
            maxlength="10"
            [(ngModel)]="user.phoneNumber"
            required
          ></ion-input>
      </ion-item>
      <div class="input-error ion-margin-top" *ngIf="errors.phoneNumber">
        <span><ion-icon name="alert-circle-outline"></ion-icon> {{errors.phoneNumber}}</span>
      </div>
    </div>
    <div class="container-inputs">
      <ion-label class="label" position="stacked">EMAIL INSTITUCIONAL</ion-label>
      <ion-item>
        <ion-input name="email" type="text" [(ngModel)]="user.email"></ion-input>
      </ion-item>
      <div class="input-error ion-margin-top" *ngIf="errors.email">
        <span><ion-icon name="alert-circle-outline"></ion-icon> {{errors.email}}</span>
      </div>
    </div>
    <div class="container-inputs">
      <ion-label class="label" position="stacked">CONTRASEÑA</ion-label>
      <ion-item [ngClass]="{'ion-item-error': errors.password}">
        <ion-input [type]="passwordType" name="password" [(ngModel)]="password"></ion-input>
        <ion-icon [name]="eyeTypeIcon" item-right (click)="showHiddePassword()"></ion-icon>
      </ion-item>
      <div class="input-error ion-margin-top" *ngIf="errors.password">
        <span><ion-icon name="alert-circle-outline"></ion-icon> {{errors.password}}</span>
      </div>
    </div>
    <div class="container-inputs">
      <ion-label class="label" position="stacked">TRATO</ion-label>
      <ion-item class="select-ionItem">
        <ion-select placeholder="Escoja como desea ser tratado" cancelText="Cancelar" name="gender" [(ngModel)]="user.gender" value="F" okText="Aceptar">
          <ion-select-option value="Srta"><span>Srta.</span></ion-select-option>
          <ion-select-option value="Señor"><span>Señor</span></ion-select-option>
          <ion-select-option value="Señora"><span>Señora</span></ion-select-option>
          <ion-select-option value="Otros"><span>Otros</span></ion-select-option>
        </ion-select>
      </ion-item>
      <div class="input-error ion-margin-top" *ngIf="errors.gender">
        <span><ion-icon name="alert-circle-outline"></ion-icon> {{errors.gender}}</span>
      </div>
    </div>
    <div class="container-inputs">
      <ion-label class="label" position="stacked">CARRERA</ion-label>
      <ion-item class="select-ionItem">
        <ion-select placeholder="Seleccione su Carrera"[(ngModel)]="user.career" (ionChange)="onChangeCarrer($event)">
          <ion-select-option *ngFor="let item of careers" value="{{item.uid}}"><span>{{item.name}}</span>
          </ion-select-option>
        </ion-select>
      </ion-item>
      <div class="input-error ion-margin-top" *ngIf="errors.career">
        <span><ion-icon name="alert-circle-outline"></ion-icon> {{errors.career}}</span>
      </div>
    </div>
    <div class="container-inputs"> 
      <ion-label class="label" position="stacked">NIVEL</ion-label>
      <ion-item class="select-ionItem">
        <ion-select placeholder="Seleccione su Nivel" [(ngModel)]="user.level">
          <div *ngFor="let item of levels; let i = index">
            <ion-select-option value="{{item.name}}"><span>{{item.name}}</span>
            </ion-select-option>
          </div>
     
        </ion-select>
      </ion-item>
      <div class="input-error ion-margin-top" *ngIf="errors.level">
        <span><ion-icon name="alert-circle-outline"></ion-icon> {{errors.level}}</span>
      </div>
    </div>
    <div class="container-inputs"> 
      <ion-label class="label" position="stacked">PARALELO</ion-label>
      <ion-item class="select-ionItem">
        <ion-select placeholder="Seleccione su Nivel" [(ngModel)]="user.parallel">
          <div *ngFor="let item of parallels; let i = index">
            <ion-select-option value="{{item.name}}"><span>{{item.name}}</span>
            </ion-select-option>
          </div>
     
        </ion-select>
      </ion-item>
      <div class="input-error ion-margin-top" *ngIf="errors.level">
        <span><ion-icon name="alert-circle-outline"></ion-icon> {{errors.level}}</span>
      </div>
    </div>
  </ion-row>
  <button class="my_buttton" (click)="registerUser()">Registrate</button>
</ion-content>