.img-signIn{
  width: 60%;
  height: 60%;
  margin-top: 0%;
  margin-bottom: 3%;
  //background-color: #fff;
}
#file-input {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 999;
}


  h4 {
    color: #3E4958;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
  }

  ion-row{
      display: flex;
      justify-content: center;
      margin-top: 10%;
  }


.container-inputs {
  margin-bottom:0%;
  padding: 10px;
  width: 90%;
}

/* Estilos del contenedor del select */
.container-select-role {
  justify-content: center;
  margin-top: 10%;

  p {
    color: #97ADB6;
    font-size: 15px;

    span {
      color: #008D36;
      text-decoration: underline;
    }
  }
}

/* Estilos del ion-item que contiene el ion-select */
.select-ionItem {
  width: 90%;
  --background: #F7F8F9;
  --border-radius: 15px;
  --color: #008D36;
  --border-color: #D5DDE0;
  --border-style: solid;

  ion-select {
    justify-content: center;
    width: 100%;

    ion-select-option {
      span {
        color: #3E4958
      }
    }
  }


}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}


ion-item {
    --background: #F2F2F2;
    --highlight-color-focused:#014C9A;
    --highlight-color-valid:#014C9A;
    border: 0.5px solid #D5DDE0;
    width: 100%;
    border-radius: 15px;
    margin-top: 3%;
}

.label {
  color: #3E4958;
  font-size: 14px;
  opacity: 0.8;
  font-weight: bold;
  padding-left: 10px;
}

h5{
  color:#3E4958;
}

.my_buttton{
  /* Green */
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  background:#014C9A;
  height: 60px;
  width: 80%;
  box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5%;
}

.container-btn{
  padding-top: 10%;
  margin-left: 15%;
  color: #97ADB6;
}

/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
  padding: 5px;
  margin-left: 5%;
  margin-right: 5%;
}
h5 {
  color: #3E4958;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 28px;
}

.img-fb{  
  margin-top: 0%;
}
