<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="panel-admin"></ion-back-button>
    <ion-toolbar>
      <h3 class="h3azul">ITCA-App</h3>
      <img
        slot="end"
        class="img-logo ion-text-center"
        src="../../assets/img/logo.png"
        alt=""
      />
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content class="container">
  <ion-title color="tertiary"><strong>Lista de Pagos</strong></ion-title>
  <ion-card class="card-invoice" *ngFor="let invoice of invoices">
    <ion-card-header (click)="goToSeeVoucher(invoice)">
      <ion-card-title>{{invoice.identifynumber}}</ion-card-title>
      <ion-card-subtitle>{{invoice.updateAt.toDate() | date:'dd/MM/yyyy' }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content (click)="goToSeeVoucher(invoice)">
     <p><strong>Banco: </strong>{{bank?.name}}</p>
     <p><strong>Valor:</strong> ${{invoice.value}} </p>
     <p><strong>Razón del pago:  </strong>{{invoice.reason}}</p>
     <p><strong>Detalle del pago:  </strong>{{invoice.detail}}</p>
    </ion-card-content>
  </ion-card>
 
  <div class="btn_excel">
    <ion-button color="success" (click)="exportXLS()">Exportar a Excel</ion-button>
  </div>

</ion-content>
