//fondo de la imagen del container
.container {
  height: 100%;
  background-image: url("..//../assets/img/background2.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.h3azul {
  color: #014898;
}
/* Estilos del header  */
ion-toolbar {
  --padding-start: 6%;
  --padding-end: 6%;
  --padding-top: 6%;
  margin-bottom: 6%;

  .img-logo {
    width: 51px;
    height: 51px;
  }
  .container-img-header {
    display: flex;
    justify-content: center;
    width: 89%;
  }
}

.btn-excel{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}